@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
	margin:0;
	padding:0;
}
#banner{
background-image:linear-gradient(rgba(0,0,0,0.5),#009688),url('back.png');	
background-size: cover;
background-position: center;
height:100vh;

}
.logo{
	
	position:absolute;
	color:#FFE4E1;
	top:5%;
	left:7%;
	font-size:20px;
}
.banner-text{
	text-align:center;
	color:#FFE4E1;
	padding-top:180px;
}
.banner-text h2{
	font-size:70px;
	font-family: 'Kaushan Script', cursive;
}
.banner-text h3{
	font-size:40px;
	font-family: 'Kaushan Script', cursive;
}
.banner-text p{
	font-size:25px;
	font-style:italic;
}


#sidenav{
	width: 250px;
	height: 100vh;
	right:-250;
	top:0;
	position: fixed;
	background:#009688;
	z-index:1;
	transition:0.5s;
}
nav ul li{
	list-style:none;
	margin:30px 50px;
}
nav ul li a{
text-decoration:none;
color:#fff;
font-size:21px;
}
nav ul li a:hover{
	color:#ff5200;
transition:0.02s
}
#menubtn{
	width:40px;
	height:40px;
	background:#009688;
	text-align:center;
	position:fixed;
	right:30px;
	top:20px;
	border-radius:5px;
	z-index:2;
}
#menubtn img{
	width:25px;
	margin-top:8px;
	color:#fff;
}
@media screen and (max-width: 770px){
	.banner-text h2{
	font-size:44px;
	
}
.banner-batton a{
	display:block;
	margin:20px auto;
}
}
#feature{
	width:100%;
	padding:70px 0;
	
}
.title-text{
	text-align:center;
	padding-bottom:70px
}
.title-text p{
	font-size:20px;
	color:#009688;
	margin:auto;
	font-weight:bold;
	position:relative;
	z-index:1;
	display:inline-block;
}
.title-text p::after{
	
	content:"";
	width:50px;
	height:35px;
	background:linear-gradient(#019587,#fff);
	position:absolute;
	top:-20px;
	left:0;
	z-index:-1;
	transform: rotate(10deg);
	border-top-left-radius:35px;
	border-bottom-right-radius:35px;

}
.title-text h1{
	font-size:30px;
	
}
.feature-box{
	
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	text-align:center;
}
.feature{
	flex-basis:50%;
	background:linear-gradient(#019587,#fff);
	border-radius:10px;
	
}
.feature-img{
	flex-basis:50%;
	margin:auto;
}
.feature-img img{
	width:70%;
	border-radius:10px;
	
}
